.products {
    padding: em(80) 0;
    border-top: 1px solid #dfdfdf;
    &__inner {
        @include wrapper();
    }
    &__header {
        @include header();
        margin-bottom: 15px;
    }
    &__text {
        color: #a3a3a3;
        max-width: 1000px;
        font-size: em(24);
        font-weight: 400;
        line-height: 1.5;
        margin: 0 auto 80px;
        text-align: center;
        @include max-screen($grid-sl) {
            font-size: em(16);
        }
    }
    &__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}
.product-item {
    width: 23.5%;
    @include max-screen($grid-ls) {
        width: 48%;
        margin-bottom: 35px;
    }
    @include max-screen(512px) {
        width: 100%;
    }
    &__image {
        background-color: #f4f0ee;
        padding-bottom: 125%;
        position: relative;
        margin-bottom: 30px;
        background-size: cover;
        background-position: 50% 50%;
        display: inherit;
        cursor: pointer;
        transition: all .5s;
        @include max-screen($grid-ls) {
            margin-bottom: 15px;
        }
        &:hover{
          
            box-shadow:0 0 10px 1px rgba(255, 108, 6, .6);
           
        }
    }
    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 80%;
        height: auto;
    }
    &__text {
        color: #000;
        font-size: em(16);
        font-weight: 400;
        margin-bottom: 25px;
        line-height: 1.5;
        min-height: 4em;
        @include max-screen($grid-ls) {
            margin-bottom: 15px;
            min-height: 1px;
        }
    }
    &__link {
        font-family: 'Trade Gothic STD', Montserrat, sans-serif;;
        font-size: em(14);
        letter-spacing: 2.1px;
        text-transform: uppercase;
        color: $orange;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__data {
        color: #767676;
        font-family: 'Trade Gothic STD', Montserrat, sans-serif;
        margin-bottom: 25px;
        font-size: 14px;
        @include max-screen($grid-ls) {
            margin-bottom: 15px;
        }
    }
    &__header {
        margin-bottom: 25px;
        font-size: em(22);
        line-height: 1.5;
        @include max-screen($grid-ls) {
            margin-bottom: 15px;
        }
    }
}
