doctype html
html(class="no-js", lang="en")

    include ../components/head/head
    include ../components/header/header
    include ../components/footer/footer
    include ../components/label/label
    include ../components/hero/hero
    include ../components/features/features
    include ../components/state/state
    include ../components/a-testimonials/a-testimonials
    include ../components/contacts/contacts

    head
        +head(head.defaults)
    body
        |%=symbols=%
        .-content-
            +header
            -
                var heroData = {
                header: 'Who We Serve<span>.</span>',
                sHeader: 'Industry name',
                klass: 'hero--small'
                }
            +hero(heroData)
            +label({isImaged: true})
            +features({type: 1})
            +state({image: '%=static=%img/content/state-1.png', reverse: true, grey: true})
            +state({image: '%=static=%img/content/state-2.png'})
            +a-testimonials
            +contacts
        +footer


        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        script(src='%=static=%js/separate-js/jquery-3.2.1.min.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
