.awards {
    padding: em(80) 0;
    &__inner {
        @include wrapper();
    }
    &__header {
        @include header();
    }
    &__items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}
