@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');

@font-face {
    font-family: 'Trade Gothic STD';
    src: url('../fonts/TradeGothic/TradeGothicLTStd-Cn18.woff2') format('woff2'),
    url('../fonts/TradeGothic/TradeGothicLTStd-Cn18.woff') format('woff'),
    url('../fonts/TradeGothic/TradeGothicLTStd-Cn18.ttf') format('truetype'),
    url('../fonts/TradeGothic/TradeGothicLTStd-Cn18.svg#TradeGothicLTStd-Cn18') format('svg');
    font-weight: 500;
    font-style: normal;
}



