mixin footer(data)
    footer.footer
        .footer__inner
            .footer__links
                .footer__links-header PRODUCTS
                a(href='#') HomePages
                a(href='#') CloseBy
                a(href='#') Optima
                a(href='#') Careers
            .footer__links
                .footer__links-header ABOUT
                a(href='#') Who We Are
                a(href='#') Testimonials
                a(href='#') Careers
            .footer__links
                .footer__links-header CONTACT
                a(href='#') FAQ
                a(href='#') Contact
                a(href='#') Feedback
            .footer__socials
                a(href='#').facebook
                    span.fa.fa-facebook
                a(href='#').linkedin
                    span.fa.fa-linkedin
                a(href='#').cust-icon.glassdoor
                    span
            .footer__copyright American Marketing & Publishing
