mixin careers(data)
    section.careers
        .careers__image(style='background-image:url(%=static=%img/content/careers-image.jpg)')
        .careers__inner
            .careers__header Careers
            .careers__content
                p We believe that the screen of a consumer’s cell phone is the single most valuable advertising real estate in media today.  CloseBy™ Text Marketing is entirely permission based, meaning that only consumers who have opted in to join a merchant’s list will ever get a message.
                p Text marketing gives merchants the power of word-of-mouth advertising on demand.
                a(href='#') MORE Careers 
                    sup →
