mixin state(data)
    section.state(class= (data.reverse ? ' state--reverse ' : '') + (data.grey ? ' state--grey ' : ''))
        .state__inner
            .state__image
                img(src=data.image)
            .state__content
                .state__header Make a statement with a title
                .state__text
                    p
                        strong The immediacy of putting
                        =' '
                        | an offer or a massage on the screen of a customer’s phone allows you to drive revenue in response to real-time market conditions
                    p Unsold or Expiring Inventory – When you need to move product, text gets the word out
                a(href='#').state__button SHOW MORE →
