.state {
    padding: em(130) 0;
    @include max-screen($grid-sl) {
        padding: em(70) 0;
    }
    &__inner {
        @include wrapper();
        justify-content: space-between;
        align-items: center;
    }
    &__image {
        width: 45%;
        @include max-screen($grid-sl) {
            width: 100%;
            margin-bottom: 25px;
            text-align: center;
        }
        img {
            width: 100%;
            @include max-screen($grid-sl) {
                width: auto;
            }
        }
    }
    &__content {
        width: 45%;
        @include max-screen($grid-sl) {
            width: 100%;
            text-align: center;
        }
    }
    &__header {
        font-size: em(32);
        font-weight: 300;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        margin-bottom: 30px;
        @include max-screen($grid-sl) {
            font-size: em(24);
        }
    }
    &__text {
        color: #000;
        font-size: em(16);
        font-weight: 300;
        line-height: 1.8;
        p {
            margin: 0 0 30px;
            strong {
                font-weight: 600;
            }
        }
    }
    &__button {
        @include button();
    }
    &--reverse {
        .state__inner {
            flex-direction: row-reverse;
            @include max-screen($grid-sl) {
                flex-direction: row;
            }
        }
    }
    &--grey {
        background-color: #f7f8f9;
        border-top: 1px solid #ebebeb;
    }
}
