mixin cases(data)
    section.cases
        .cases__inner
            .cases__header CASE STUDIES
            .cases__items
                .case-item
                    .case-item__image(style='background-image:url(%=static=%img/content/gallery-1.jpg)')
                        .case-item__image-content
                            .case-item__image-text A short blurb about what this study produced
                            a(href='#').case-item__image-button LEARN MORE →
                    .case-item__data 22 June 2018
                    .case-item__header Subway
                    a(href='#').case-item__link Read More → 
                .case-item
                    .case-item__image(style='background-image:url(%=static=%img/content/gallery-2.jpg)')
                        .case-item__image-content
                            .case-item__image-text A short blurb about what this study produced
                            a(href='#').case-item__image-button LEARN MORE →
                    .case-item__data 22 June 2018
                    .case-item__header Microsoft
                    a(href='#').case-item__link Read More →
                .case-item
                    .case-item__image(style='background-image:url(%=static=%img/content/gallery-3.jpg)')
                        .case-item__image-content
                            .case-item__image-text A short blurb about what this study produced
                            a(href='#').case-item__image-button LEARN MORE →
                    .case-item__data 22 June 2018
                    .case-item__header Adobe Systems
                    a(href='#').case-item__link Read More →
                .case-item
                    .case-item__image(style='background-image:url(%=static=%img/content/gallery-4.jpg)')
                        .case-item__image-content
                            .case-item__image-text A short blurb about what this study produced
                            a(href='#').case-item__image-button LEARN MORE →
                    .case-item__data 22 June 2018
                    .case-item__header Philipp Morris
                    a(href='#').case-item__link Read More →                       
