mixin hook(data)
    section.hook
        .hook__inner
            .hook__text
                | We'll walk you
                =' '
                span through the process
                =' '
                | and start directing more clients towards your business
            .hook__buttons
                a(href='#') Get Started Today
