.hook {
    padding: em(70) 0;
    background-color: #f7f8f9;
    &__inner {
        @include wrapper();
        width: 900px;
        align-items: center;
    }
    &__text {
        width: 60%;
        color: #000;
        font-size: em(24);
        font-weight: 300;
        line-height: 1.5;
        padding-right: 25px;
        @include max-screen($grid-sl) {
            padding-right: 0;
            width: 100%;
            margin-bottom: 25px;
            text-align: center;
        }
        span {
            color: $orange;
            font-weight: 500;
        }
    }
    &__buttons {
        width: 40%;
        text-align: right;
        @include max-screen($grid-sl) {
            width: 100%;
            text-align: center;
        }
        a {
            @include button();
            padding: 2em;
        }
    }
}
