.posts {
    padding: em(70) 0;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #f7f8f9;
    &__inner {
        @include wrapper();
        justify-content: space-between;
    }
}

.post-small {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    width: 48%;
    margin: 25px 0;
    padding: em(45);
    @include max-screen($grid-sl) {
        width: 100%;
        padding: 20px;
        margin: 10px 0;
    }
    &__header {
        font-size: em(32);
        letter-spacing: 0.8px;
        text-transform: uppercase;
        margin-bottom: 10px;
        @include max-screen($grid-sl) {
            font-size: 24px;
        }
    }
    &__pre {
        color: #8e8e8e;
        font-size: em(24);
        letter-spacing: 0.6px;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 30px;
        @include max-screen($grid-sl) {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
    &__text {
        color: #000;
        font-size: em(16);
        font-weight: 300;
        margin-bottom: 30px;
        line-height: 1.8;
    }
    &__button {
        @include button;
    }
}
