mixin posts(data)
    section.posts
        .posts__inner
            - for (var i = 0; i < 4; i++)
                .post-small
                    .post-small__header George Brown
                    .post-small__pre Position
                    .post-small__text The immediacy of putting an offer or a massage on the screen of a customer’s phone allows you to drive revenue in response to real-time market conditions
                    a(href='#').post-small__button see full post
